.DS_Store
pymatgen.egg-info
dependencies/PyCifRW-3.3/PyCifRW.egg-info
dependencies/spglib*/pyspglib.egg-info
dependencies/spglib*/build
*.o
*.so
*.pyc
*.swp
pymatgen/pymatgen.cfg
dist
_build
build
.project
.pydevproject
.settings
.externalToolBuilders
.idea
setuptools*
.ipynb_checkpoints

gulptmp_4_1

distribute-0.6.34-py2.7.egg

distribute-0.6.34.tar.gz
