.DS_Store
pymatgen.egg-info
dependencies/PyCifRW-3.3/PyCifRW.egg-info
dependencies/spglib-1.2.2/pyspglib.egg-info
dependencies/spglib-1.2.2/build
*.o
*.so
*.pyc
pymatgen/pymatgen.cfg
dist
_build
build
.project
.pydevproject
