__pycache__/
.DS_Store
pymatgen.egg-info
dependencies/PyCifRW-3.3/PyCifRW.egg-info
dependencies/spglib*/pyspglib.egg-info
dependencies/spglib*/build
*.o
*.so
*.pyc
*.swp
*.swo
*.pyd
pymatgen/pymatgen.cfg
dist
_build
build
.project
.pydevproject
.settings
.externalToolBuilders
.idea
setuptools*
.ipynb_checkpoints
.cache
.tox
.eggs/
gulptmp_4_1
.coverage
