pybtex==0.22.2
tqdm==4.41.0
pytest==5.3.2
pytest-cov==2.8.1
coverage==5.0.1
ase==3.19.0
coveralls==1.9.2
chemview==0.6
netCDF4==1.5.3
fdint==2.0.2
phonopy==2.4.2
h5py==2.10.0
#BoltzTraP2==18.9.1
f90nml==1.1.2
pycodestyle==2.5.0
mypy==0.761
pydocstyle==5.0.1
flake8==3.7.9
pylint==2.4.4