pybtex==0.22.2
tqdm==4.32.2
pytest==5.0.1
pytest-cov==2.7.1
coverage==4.5.4
ase==3.18.0
coveralls==1.8.2
chemview==0.6
netCDF4==1.4.2
fdint==2.0.2
phonopy==2.2.0
h5py==2.7.1
#BoltzTraP2==18.9.1
f90nml==1.1.2
