numpy==1.16.2
pydispatcher==2.0.5
sympy==1.3
requests==2.21.0
monty==2.0.2
ruamel.yaml==0.15.89
scipy==1.2.1
tabulate==0.8.3
matplotlib==3.0.3
palettable==3.1.1
spglib==1.12.2.post0
pandas==0.24.1
networkx==2.2