#This file contains the correction settings for various compatibility engines.

[MPAdvancedUCorrectionsO]

#Fitted to MnO, Mn3O4 and MnO2 (BURP:-1.687)
Mn=-1.68085015096

# Fitted to FeO and Fe2O3 (Fe3O4 probably wrong)
Fe=-2.733

# Fitted to CoO, Co3O4 (BURP:-1.751)
Co=-1.874

# Fitted to Cr2O3 (CrO3 missing) (BURP: -2.067)
Cr=-2.013

# Fitted to MoO3 and MoO2 (BURP: -2.668)
Mo=-3.531

#Fitted to WO2 and WO3 (BURP: -2.762)
W=-4.351

#Fitted to V2O3 and V2O5 (VO2 fit is way off) (BURP: -1.764)
V=-1.682

# Based on burp version as of Feb 28 2011
Ni=-2.164

[MPAdvancedUCorrectionsF]

#Fitted to MnO, Mn3O4 and MnO2 (BURP:-1.687)
Mn=-1.68085015096

# Fitted to FeO and Fe2O3 (Fe3O4 probably wrong)
Fe=-2.733

# Fitted to CoO, Co3O4 (BURP:-1.751)
Co=-1.874

# Fitted to Cr2O3 (CrO3 missing) (BURP: -2.067)
Cr=-2.013

# Fitted to MoO3 and MoO2 (BURP: -2.668)
Mo=-3.531

#Fitted to WO2 and WO3 (BURP: -2.762)
W=-4.351

#Fitted to V2O3 and V2O5 (VO2 fit is way off) (BURP: -1.764)
V=-1.682

# Based on burp version as of Feb 28 2011
Ni=-2.164

[MPAdvancedUCorrectionsS]

[MPAdvancedCompoundEnergies]
#Fitted energies for elements.  Note that these must be energies per atom!
#Document the fits PROPERLY. Fits by default are done over all alkali, alkali earth, and Al.
#The whole set is ("Li", "Na","K","Rb", "Cs", "Mg", "Ca","Sr", "Ba","Al")
#Last update: Sep 13 2011 by Shyue Ping Ong

#Fitted to all except Cs, which is a serious outlier.
#O2=-4.22986844926

#Fitted to Li3N, Mg3N2, Ca3N2, AlN
N2=-7.95247218762

#Fitted to all.
F2=-1.42055013381

#Fitted to all except AlCl3, which is not present in the database.
Cl2=-1.25385097674

H2 = -3.23973666138

[MPGGAUCorrectionsO]

[MPGGAUCorrectionsF]

[MPGGAUCorrectionsS]

[MPCompoundEnergies]
#Fitted energies for elements.  Note that these must be energies per atom!
#Document the fits PROPERLY. Fits by default are done over all alkali, alkali earth, and Al.
#The whole set is ("Li", "Na","K","Rb", "Cs", "Mg", "Ca","Sr", "Ba","Al")
#Last update: Sep 13 2011 by Shyue Ping Ong

#Fitted to all except Cs, which is a serious outlier.
#O2=-4.22986844926

#Fitted to Li3N, Mg3N2, Ca3N2, AlN
N2=-7.95247218762

#Fitted to all.
F2=-1.42055013381

#Fitted to all except AlCl3, which is not present in the database.
Cl2=-1.25385097674

H2 = -3.23973666138

[MITAdvancedUCorrectionsO]
# Based on burp version as of Feb 28 2011
Mn=-1.687
Fe=-1.723
Co=-1.751
Ni=-2.164
Cu=-1.156
Ag=-0.324
# refitted number.
Mo=-3.531
Nb=-1.259
Re=-1.177
W=-2.762
Cr=-2.067
V=-1.764

#Adjusted correction for Ta. Shyue May 24 2012
Ta=-1.027


[MITAdvancedUCorrectionsF]
# Based on burp version as of Feb 28 2011
Mn=-1.687
Fe=-1.723
Co=-1.751
Ni=-2.164
Cu=-1.156
Ag=-0.324
# refitted number.
Mo=-3.531
Nb=-1.259
Re=-1.177
W=-2.762
Cr=-2.067
V=-1.764

#Adjusted correction for Ta. Shyue May 24 2012
Ta=-1.027


[MITAdvancedUCorrectionsS]
# Based on burp version as of Feb 28 2011
Mn=-1.232
Fe=-1.113


[MITAdvancedCompoundEnergies]
#O2=-4.25915626315
N2=-8.00185429481
Cl2=-1.26486611357
F2=-1.42203822397
H2=-3.302
SO3=-6.355753725
SO2=-6.89094488466667

[MITGGAUCorrectionsO]

[MITGGAUCorrectionsF]

[MITGGAUCorrectionsS]

[MITCompoundEnergies]
#O2=-4.25915626315
N2=-8.00185429481
Cl2=-1.26486611357
F2=-1.42203822397
H2=-3.302
SO3=-6.355753725
SO2=-6.89094488466667

[MITOxideCorrection]
#Corrections fitted to Li2O2, Na2O2, K2O2, SrO2,
#Superoxide Corrections fitted to CsO2, NaO2, KO2 
peroxide = -0.44317
superoxide = -0.13893
ozonide = 0.00
oxide = -0.66975

[MPOxideCorrection]
#Oxide Corrections fitted to Li2O, Na2O, K2O, Rb2O, MgO, CaO, SrO, BaO, Al2O3 on 09/18
#Peroxide Corrections fitted to Li2O2, Na2O2, K2O2, SrO2 on 09/18
#Superoxide Corrections fitted to CsO2, NaO2, KO2 on 09/18
oxide = -0.70229
peroxide = -0.46622
superoxide = -0.14598
ozonide = 0.00

# This file contains corrections for aqueous phase Compatibility

[MITAqueousCompoundEnergies]
# Entropic Correction term for gases. 
# For H2O, energy is corrected such that the experimental formation energy of water of -2.46 eV is reproduced.
# H2 is corrected such that the experimental formation energy of water is reproduced.   
O2 = -0.316731
N2 = -0.295729
F2 = -0.313025
Cl2 = -0.344373
Br = -0.235039
Hg = -0.234421
H2 = -3.6018845
H2O = -4.972

[MPAqueousCompoundEnergies]
# Entropic Correction term for gases. 
# For H2O, energy is corrected such that the experimental formation energy of water of -2.46 eV is reproduced.
# H2 is corrected such that the experimental formation energy of water is reproduced.   
O2 = -0.316731
N2 = -0.295729
F2 = -0.313025
Cl2 = -0.344373
Br = -0.235039
Hg = -0.234421
H2 = -3.6018845
H2O = -4.972
