#This file contains the correction settings for various compatibility engines.

[AdvancedUCorrections]


#Fitted to MnO, Mn3O4 and MnO2 (BURP:-1.687)
Mn=-1.68085015096

# Fitted to FeO and Fe2O3 (Fe3O4 probably wrong)
Fe=-2.733

# Fitted to CoO, Co3O4 (BURP:-1.751)
Co=-1.874

# Fitted to Cr2O3 (CrO3 missing) (BURP: -2.067)
Cr=-2.013

# Fitted to MoO3 and MoO2 (BURP: -2.668)
Mo=-3.531

#Fitted to WO2 and WO3 (BURP: -2.762)
W=-4.351

#Fitted to V2O3 and V2O5 (VO2 fit is way off) (BURP: -1.764)
V=-1.682

# Based on burp version as of Feb 28 2011
Ni=-2.164

[AdvancedUCorrectionsSulfides]

[AdvancedCompoundEnergies]
#Fitted energies for elements.  Note that these must be energies per atom!
#Document the fits PROPERLY. Fits by default are done over all alkali, alkali earth, and Al.
#The whole set is ("Li", "Na","K","Rb", "Cs", "Mg", "Ca","Sr", "Ba","Al")
#Last update: Sep 13 2011 by Shyue Ping Ong

#Fitted to all except Cs, which is a serious outlier.
O2=-4.22986844926

#Fitted to Li3N, Mg3N2, Ca3N2, AlN
N2=-7.95247218762

#Fitted to all.
F2=-1.42055013381

#Fitted to all except AlCl3, which is not present in the database.
Cl2=-1.25385097674

H2 = -3.23973666138
