#This file contains corrections for Pourbaix Compatibility

[MITMatgenGGAUCorrectionsHydroxide]
OH = 0.47407

[MaterialsProjectGGAUCorrectionsHydroxide]
OH = 0.53126

[MITMatgenGGAUCorrectionsPeroxide]
O2 = 0.50167

[MaterialsProjectGGAUCorrectionsPeroxide]
O2 = 0.50205 

[MITMatgenGGAUCorrectionsSuperoxide]
O2 = 1.07883
#O2 = 0.26  

[MaterialsProjectGGAUCorrectionsSuperoxide]
O2 = 1.11936 
#O2 = 0.33

[MITMatgenGGACompoundEnergies]
# Corrected to include Ts0 term at 298
O2 = -4.57615626315
# H2 energy derived from H2O and O
H2 = -4.03215	
# Corrected H2O such that EformH2O = -2.46 eV
H2O = -5.0335	

[MaterialsProjectGGACompoundEnergies]
# Corrected to include Ts0 term at 298
O2 = -4.54686844926 
# H2 energy derived from H2O and O
H2 = -4.00965		
# Corrected H2O such that EformH2O = -2.46 eV
H2O = -5.0087		