version: 2
jobs:
  build:
    working_directory: ~/pymatgen
    docker:
      - image: materialsvirtuallab/circle-ci-pmg-py3:3.7.3
    steps:
      - checkout
      - restore_cache:
          key: dependency-cache-{{ checksum "requirements.txt" }}-{{ checksum "requirements-optional.txt" }}
      - run:
          command: |
            export PATH=$HOME/miniconda3/bin:$PATH
            conda config --set always_yes yes --set changeps1 no
            conda update -q conda
            conda info -a
            conda create -q -n test-environment python=3.7 numpy scipy matplotlib sympy cython pandas networkx pytest cmake h5py
            source activate test-environment
            conda update --quiet numpy scipy matplotlib sympy cython pandas networkx pytest pip cmake h5py
            conda install --quiet -c openbabel openbabel
            # conda install --quiet -c clinicalgraphics vtk
            conda install --quiet -c conda-forge python-igraph
            pip install --quiet --ignore-installed -r requirements.txt -r requirements-optional.txt
            export CFLAGS=$CFLAGS" -std=gnu++11"
            pip install BoltzTraP2
            export CFLAGS=${CFLAGS%% -std=gnu++11}
      - save_cache:
          key: dependency-cache-{{ checksum "requirements.txt" }}-{{ checksum "requirements-optional.txt" }}
          paths:
            - test-environment
  test:
    working_directory: ~/pymatgen
    docker:
      - image: materialsvirtuallab/circle-ci-pmg-py3:3.7.3
    steps:
      - run:
          command: |
            export PATH=$HOME/miniconda3/bin:$PATH
            # Add executables and path.
            for EXEPATH in `pwd`/cmd_line/*/Linux_64bit; do export PATH=$PATH:$EXEPATH; done
            export GULP_LIB=`pwd`/cmd_line/gulp/Libraries
            export MPLBACKEND=Agg
            export LC_ALL=en_US.UTF-8
            export LANG=en_US.UTF-8
            # Only do matproj and other ext API tests once every five random runs or so.
            # The parallelism is 4. If 1/20 we have to run, that measn the probability of a matproj test running is 1-(1-0.05)**4 = 0.18.
            # if [ "$(( RANDOM % 20 ))" -ne "0" ]; then export EXCLUDE_TESTS="--ignore=pymatgen/ext/tests/test_matproj.py --ignore=pymatgen/analysis/tests/test_pourbaix_diagram.py --ignore=pymatgen/tests/test_init.py"; fi
            # export EXCLUDE_TESTS="--ignore=pymatgen/ext/tests/test_matproj.py --ignore=pymatgen/analysis/tests/test_pourbaix_diagram.py --ignore=pymatgen/tests/test_init.py"
            source activate test-environment
            pip install --quiet -e .
            pytest --ignore=pymatgen/analysis/tests/test_pourbaix_diagram.py --cov=pymatgen --cov-report html:coverage_reports pymatgen
            # Command line tests
            pmg structure --convert --filenames test_files/Li2O.cif POSCAR.pmg
            pmg structure --convert --filenames POSCAR.pmg pmg.cif
            pmg analyze -d test_files
            if [ "$CI_PULL_REQUEST" == "" ]; then coveralls; fi
          no_output_timeout: 3600
      - store_artifacts:
          path: coverage_reports/
          destination: tr1
      - store_test_results:
          path: coverage_reports/
  stylecheck:
    working_directory: ~/pymatgen
    docker:
      - image: materialsvirtuallab/circle-ci-pmg-py3:3.7.3
    steps:
      - run:
          command: |
            export PATH=$HOME/miniconda3/bin:$PATH
            # Add executables and path.
            source activate test-environment
            pip install --quiet -e .
            echo "pycodestyle checks..."
            pycodestyle pymatgen
            echo "--- Done ---"

workflows:
  version: 2
  build_and_test:
    jobs:
      - build
      - test:
          requires:
            - build
      - stylecheck:
          requires:
            - build