[MaterialsProjectINCAR]
ENCUT = 520
ISIF = 3
IBRION = 2
NSW = 200
NELM = 100
ISPIN = 2
ALGO = FAST
LREAL = AUTO
EDIFF = 0.00005
PREC = Accurate
NELMIN = 3
ISMEAR = 1
SIGMA = 0.2
LWAVE = TRUE
ICHARG = 1
NPAR = 1
LDAU = TRUE
LDAUTYPE = 2
#Element dependent settings. Note that double quotes must be used
LDAUL = {"Co" : 2, "Cr" : 2, "Fe" : 2, "Mn": 2, "Mo" : 2, "Ni" : 2, "V" : 2, "W" : 2}
LDAUU = {"Co" : 3.32, "Cr" : 3.7, "Fe" : 5.3, "Mn": 3.9, "Mo" : 4.38, "Ni" : 6.4, "V" : 3.25, "W" : 6.2}
LDAUJ = {"Co" : 0, "Cr" : 0, "Fe" : 0, "Mn": 0, "Mo" : 0, "Ni" : 0, "V" : 0, "W" : 0}
MAGMOM = {"Co" : 5, "Cr" : 5, "Fe" : 5, "Mn": 5, "Mo" : 5, "Ni" : 5, "V" : 5, "W" : 5}

[MaterialsProjectPOTCAR]
Li = Li_sv
O = O
Na = Na_pv
K = K_sv
Cs = Cs_sv
Rb = Rb_sv
Be = Be_sv
Mg = Mg_pv
Ca = Ca_sv
Sr = Sr_sv
Ba = Ba_sv
Sc = Sc_sv
Y = Y_sv
Ti = Ti_pv
Zr = Zr_sv
Hf = Hf_pv
V = V_sv
Nb = Nb_pv
Ta = Ta_pv
Cr = Cr_pv
Mo = Mo_pv
W = W_pv
Mn = Mn_pv
Tc = Tc_pv
Re = Re_pv
Fe = Fe_pv
Co = Co
Ni = Ni_pv
Cu = Cu_pv
Zn = Zn
Ru = Ru_pv
Rh = Rh_pv
Pd = Pd
Ag = Ag
Cd = Cd
Hg = Hg
Au = Au
Ir = Ir
Pt = Pt
Os = Os_pv
Ga = Ga_d
Ge = Ge_d
Al = Al
As = As
Se = Se
Br = Br
In = In_d
Sn = Sn_d
Tl = Tl_d
Pb = Pb_d
Bi = Bi
La = La
Ce = Ce
Pr = Pr_3
Nd = Nd_3
Pm = Pm_3
Sm = Sm_3
Eu = Eu
Gd = Gd
Tb = Tb_3
Dy = Dy_3
Ho = Ho_3
Er = Er_3
Tm = Tm_3
Yb = Yb
Lu = Lu_3
P = P
H = H
Pu = Pu
C= C
Pa = Pa
Xe = Xe
He = He
S = S
Ne = Ne
Np = Np
B = B
F = F
N = N
Kr= Kr
Si = Si
Sb= Sb
Cl= Cl
Th = Th
Te = Te
I = I
U = U
Ac = Ac
Ar = Ar

[MaterialsProjectKPOINTS]
grid_density = 1000


[MITMatgenINCAR]
ENCUT = 520
ISIF = 3
IBRION = 2
NSW = 200
NELM = 100
ISPIN = 2
ALGO = FAST
LREAL = AUTO
EDIFF = 0.00005
PREC = Accurate
NELMIN = 3
ISMEAR = 1
SIGMA = 0.2
LWAVE = TRUE
ICHARG = 1
NPAR = 1
LDAU = TRUE
LDAUTYPE = 2
#Element dependent settings. Note that double quotes must be used
LDAUL = {"Ag" : 2, "Co" : 2, "Cr" : 2, "Cu" : 2, "Fe" : 2, "Mn": 2, "Mo" : 2, "Nb" : 2, "Ni" : 2, "V" : 2, "W" : 2}
LDAUU = {"Ag" : 1.5, "Co" : 3.4, "Cr" : 3.5, "Cu" : 4, "Fe" : 4.0, "Mn": 3.9, "Mo" : 3.5, "Nb" : 1.5, "Ni" : 6, "V" : 3.1, "W" : 4.0}
LDAUJ = {"Ag" : 0, "Co" : 0, "Cr" : 0, "Cu" : 0, "Fe" : 0, "Mn": 0, "Mo" : 0, "Nb" : 0, "Ni" : 0, "V" : 0, "W" : 0}
MAGMOM = {"Co" : 5, "Cr" : 5, "Fe" : 5, "Mn": 5, "Mo" : 5, "Ni" : 5, "V" : 5, "W" : 5}

[MITMatgenPOTCAR]
Li = Li
O = O
Na = Na
K = K_sv
Cs = Cs_sv
Rb = Rb_pv
Be = Be
Mg = Mg
Ca = Ca_sv
Sr = Sr_sv
Ba = Ba_sv
Sc = Sc_sv
Y = Y_sv
Ti = Ti
Zr = Zr
Hf = Hf
V = V_pv
Nb = Nb_pv
Ta = Ta
Cr = Cr
Mo = Mo_pv
W = W_pv
Mn = Mn
Tc = Tc
Re = Re
Fe = Fe
Co = Co
Ni = Ni
Cu = Cu
Zn = Zn
Ru = Ru_pv
Rh = Rh
Pd = Pd
Ag = Ag
Cd = Cd
Hg = Hg
Au = Au
Ir = Ir
Pt = Pt
Os = Os
Ga = Ga
Ge = Ge
Al = Al
As = As
Se = Se
Br = Br
In = In
Sn = Sn_d
Tl = Tl
Pb = Pb
Bi = Bi
La = La
Ce = Ce
Pr = Pr
Nd = Nd
Pm = Pm
Sm = Sm_3
Eu = Eu
Gd = Gd
Tb = Tb_3
Dy = Dy_3
Ho = Ho_3
Er = Er_3
Tm = Tm_3
Yb = Yb
Lu = Lu_3
P = P
H = H
Pu = Pu
C = C
Pa = Pa
Xe = Xe
He = He
S = S
Ne = Ne
Np = Np
B = B
F = F
N = N
Kr= Kr
Si = Si
Sb= Sb
Cl= Cl
Th = Th
Te = Te
I = I
U = U
Ac = Ac
Ar = Ar

[MITMatgenKPOINTS]
grid_density = 500