log $${log_file}

units		metal
atom_style	$${atom_style}
dimension       3
boundary        p p p

read_data $${data_file}

pair_style	lj/cut 10.0
pair_coeff * * 1 1

fix 1 all nve

dump 1 all custom 1 $${dump_file} id type x y z vx vy vz fx fy fz

run  		$${run}
