name: Linting

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.9"

      - name: Install dependencies
        run: |
          pip install --upgrade ruff mypy

      - name: ruff
        run: |
          ruff --version
          ruff check .
          ruff format --check .

      - name: mypy
        run: |
          mypy --version
          rm -rf .mypy_cache
          mypy ${{ github.event.repository.name }}
